@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-family: "Nunito", sans-serif;
}

:root {
    --bg-body: rgb(245, 247, 255);
    --primary-color: rgb(42, 51, 65);
    --primary-hover-color: rgb(158, 161, 166);
    --scrollbar-color: rgba(131, 193, 131, 0.473);
    --card-bg-color: rgba(230, 247, 231, 0.24);
    --pop-bg-color: rgb(245, 247, 255, 0.9);
    --star-color: #ddcc14;
    --border-color: rgba(131, 193, 147, 0.4);
    --shadow-color: rgba(0, 0, 0, 0.05);
    --accent-color: rgb(194, 33, 105);
    --primary-icon-color : #7e74f1; 
}

.darkmode {
    --bg-body: rgb(31, 31, 31);
    --primary-color: rgb(248, 248, 248);
    --primary-hover-color: rgb(77, 63, 63);
    --scrollbar-color: #003d28;
    --card-bg-color: rgb(30, 32, 30);
    --star-color: #a1d31a;
    --border-color: rgba(189, 234, 197, 0.4);
    --shadow-color: rgba(94, 109, 97, 0.13);
    --accent-color: rgb(0, 255, 55);
}

body {
    position: relative;
    background: var(--bg-body);
    overflow-y:scroll ;
}

@media (prefers-color-scheme: dark) {
    .theme {
        background-color: rgb(6, 5, 40);
        color: rgb(248, 248, 248);
    }
}

h1,h3,h4,b,p{
    color: var(--primary-color);
}

.text-red {
    color: rgb(194, 33, 105);
}

.text-green {
    color: rgb(0, 255, 55);
}

nav li {
    list-style-type: none;
}
nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: var(--primary-color);
}
nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 2rem;
}

nav :hover {
    color: var(--accent-color);
}

.dropdown {
    border: var(--primary-color) 2px solid;
    background: var(--bg-body);
    color: var(--primary-color);
    display: none;
    position: absolute;
    margin-top: 0;
    z-index: 1;
}

.dropdown :hover{
    color: var(--accent-color);
}

.dropdown ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.dropdown li {
    padding: 5px;
    margin: 2px;
}

.dropdown li a {
    text-decoration: none;
    color: var(--primary-color);
    display: block;
}

.dropdown li a:hover {
    background-color: var(--card-bg-color);
}

.mode-icon i {
    color: var(--primary-color);
    transform: translateY(2px);
    transition: all 0.2s linear;
    cursor: pointer;
}

.mode-icon i:hover {
    color: var(--primary-hover-color);
}

.hidden {
    display: none;
}

.interaction-control-mobile {
    display: none;
}

.interaction-control {
    display: inline-block;
}

.interactions {
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
}

.interactions i {
    font-size: 1.25rem;
    color: var(--primary-color);
    user-select: none;
}


.main-menu{
    display:flex;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    .main-menu {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        padding-inline: 0;
        gap: 1rem;
    }

    .nav-item {
        text-align: center;
        width: 100%;
    }

    .logo {
        margin-bottom: 1rem;
    }
}




.container {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      "hero-left hero-right ."
      ". . .";
  }
  
  .hero-left { 
    grid-area: hero-left; 
    padding-left: 25%;
    padding-top: 10%;
  }
  
  .hero-right { 
    grid-area: hero-right;
  }
  
  .hero-right img {
    width: 90%; /* Menggunakan 100% lebar agar gambar responsif */
    height: auto; /* Menggunakan tinggi auto untuk mempertahankan proporsi aslinya */
  }
  
  @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr; /* Mengubah tata letak grid menjadi satu kolom pada layar kecil */
      grid-template-areas:
        "hero-left"
        "hero-right";
    }
  
    .hero-right {
      text-align: center; /* Pusatkan konten pada layar kecil */
    }
  }
  



/* title */
.section-title{
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.pre-title{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 2px;
    position: relative;
    padding-left: 40px;
    position: relative;
    width: fit-content;
}

.pre-title:before{
    content: "";
    width: 30px;
    height: 1px;
    background: var(--primary-hover-color);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

.hero-left p{
    font-size: 1.5rem;
}

.hero-name{
    font-weight: bold;
    font-size: 3em;
    list-style: 1em;
}

.button{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    color: var(--primary-color);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
    

}

.button .login{
    border: none;
    color: white;
    background-color: rgb(0, 0, 0);
    letter-spacing: 3px;
    font-family: poppins;
    font-weight: 500;
}

.button .register{
    background-color: transparent;
    color: var(--primary-color);
    font-family: poppins;
    font-weight: 500;
}


/*Layout */
.grid-3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

  @media only screen and (max-width: 480px) {
    .content {
      padding: 5%;
    }
  
    .button {
      grid-template-columns: 1fr; 
    }
  }


#features{
    background-color: #e8ecef;
    padding: 6 rem;
}

#features .judul-fitur{
    padding-top: 5%;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 2px;
    position: relative;
}

.features-title{
    text-align: center;
}

.features{
    padding: 3 rem 2 rem;
    text-align: center;
    background: #e8ecef;
}


.features h4{
    margin: 1.5 rem 0;
    font-weight: 500;
    font-size: 1rem;
}

.features-icon{
    background-color: var(--bg-body);
    margin: 0;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.features-icon svg{
    fill: var(--primary-icon-color);
}

.features1 {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--bg-body);
    border: var(--primary-color) 2px solid;
    border-radius: 0.7rem;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: var(--primary-color) 2px 2px 2px;
    margin: 20px;
}

.features2 {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--bg-body);
    border: var(--primary-color) 2px solid;
    border-radius: 2%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: var(--primary-color) 2px 2px 2px;
    margin: 20px;
}


.features3 {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--bg-body);
    border: var(--primary-color) 2px solid;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: var(--primary-color) 2px 2px 2px;
    margin: 20px;
}

.inside-content::-webkit-scrollbar,
.right-content::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 8px;
}

.inside-content::-webkit-scrollbar-track,
.right-content::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    border-radius: 0;
}

.inside-content::-webkit-scrollbar-thumb,
.right-content::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 40px;
}


/*About us*/

.judul-fitur{
    padding-top: 5%;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 2px;
    position: relative;
    text-align: center;
}


.container-au {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.image-container {
    flex: 1;
    text-align: center;
}

.text-container {
    flex: 1;
    margin-left: 40px;
    margin-right: 30px;
    font-size: 19px;
}

.button-au {
    background-color: var(--primary-hover-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .container-au {
        flex-direction: column; /* Mengubah orientasi flexbox menjadi vertikal */
        text-align: center; /* Pusatkan konten vertikal pada layar kecil */
    }
    
    .image-container,
    .text-container {
        flex: 1 1 100%;
        margin: 0;
    }
    
    .image-container img {
        max-width: 100%;
    }
}

